<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} {% if page.title %} - {{ page.title }} {% endif %}</title>

    <base href="{{ site.baseurl | append: '/' }}"> 
    <link rel="icon" type="image/x-icon" href="assets/img/logos/favicon_solid.ico">
    <link rel="icon" type="image/png" href="assets/img/logos/favicon_solid.png">
    <link rel="shortcut icon" type="image/png" href="assets/img/logos/favicon_solid.png">
    <link rel="apple-touch-icon" sizes="180x180" type="image/png" href="assets/img/logos/favicon_solid.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="assets/css/bulma_custom.css">
    <link rel="stylesheet" href="assets/css/theme.css">
    <script src="assets/js/bulma.js"></script>
    <script src="assets/js/href.js"></script>
    <script src="assets/js/lang.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/dropdown.js" defer></script>
</head>