.carrousel {
    --markers-height: 1.5em;
    --button-size: 3em;
    padding-bottom: calc(var(--markers-height) + 1em);
    padding-left: calc(var(--button-size) / 2);
    padding-right: calc(var(--button-size) / 2);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carrousel .scroll-markers {
    position: absolute;
    height: var(--markers-height);
    z-index: 1;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
}

.carrousel .scroll-markers .marker {
    cursor: pointer;
    user-select: none;
}

.carrousel .next, .carrousel .prev {
    position: absolute;
    height: var(--button-size);
    width: var(--button-size);
    z-index: 1;
    display: flex;
}

.carrousel .prev {
    left: calc(-1 * var(--button-size));
}

.carrousel .next {
    right: calc(-1 * var(--button-size));
}

.carrousel .slideshow {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.carrousel .slideshow .slide {
    grid-row-start: 1;
    grid-column-start: 1;
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;

    transition: opacity 1.5s;
    @starting-style {
        opacity: 1;
    }
}

.carrousel .slideshow .slide.hidden {
    opacity: 0;
    pointer-events: none;
}

.carrousel .slideshow .slide figure {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
}

.carrousel .slideshow .slide figure > img {
    aspect-ratio: 1/1;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.carrousel .slideshow .slide figure > iframe {
    width: 100%;
    height: 100%;
}

.carrousel .slideshow .slide figure > figcaption {
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
}

.carrousel[tabindex] {
   outline: none !important;
}